<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.riis"
      android:versionCode="1"
      android:versionName="1.0">
      
    <uses-sdk 
        android:minSdkVersion="16"
        android:targetSdkVersion="19"/>
    
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application android:label="@string/appName" 
        android:icon="@drawable/ic_launcher"
        android:allowBackup="false"
        android:name="com.riis.dagger.DaggerApplication" 
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
       
        <service android:name="DisasterAppService"
            android:enabled="true" />
        <activity android:name="EmailInputActivity"
            android:label="@string/appName" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="DisasterAppActivity"
            android:label="@string/appName">
        </activity>
        <activity android:name="NewContactActivity"
            android:label="@string/createContactTitle">
        </activity>
        <activity android:name="SendEmergencyMessageActivity"
            android:label="@string/sendEmergencyMessageTitle">
        </activity>
        <activity android:name="ViewResponseMessagesActivity"
			android:label="@string/viewResponseMessagesTitle">
        </activity>
        <activity android:name="CreateContactListsActivity"
            android:label="@string/createContactListTitle">
        </activity>
        <activity android:name="EditContactListMembersActivity"
            android:label="@string/contactListMembersTitle" >
        </activity>
         <activity android:name="ImportContactsActivity"
            	  android:label="@string/importContactsTitle">
        </activity>
        <activity android:name="EditContactActivity"
            	  android:label="@string/editContactTitle">
        </activity>
        <receiver android:name=".controllers.TextMessageReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
